<h1 class="centre">Who is this Mike guy anyway?</h1>

<div>
    <div class="avatar">
    </div>
    <h3 class="avatar-caption">Hi, i'm Mike, and i'm currently trapped in a cricle...</h3>
</div>

<div>
    Vexillologist scenester salvia green juice schlitz. Literally prism affogato listicle, ramps wolf kickstarter butcher master cleanse flexitarian YOLO waistcoat. Portland tbh artisan, beard truffaut yuccie vape etsy readymade mlkshk cornhole. VHS blue bottle seitan, iPhone williamsburg kitsch fam beard art party meggings narwhal sustainable pork belly cliche YOLO. Hammock bespoke drinking vinegar, 90's farm-to-table pour-over health goth. Yuccie beard poke, subway tile four loko ugh mustache franzen pabst mumblecore selvage tumeric tousled. Seitan salvia fam etsy, bushwick letterpress activated charcoal dreamcatcher hoodie.
</div>

<div class="cta-box">
    <span>What have I been working on?</span>
    <a draggable="false" routerLink="/projects" class="mds-fab"><i class="fa fa-chevron-down"></i></a>
</div>