@import '../shared/variables'; 
@import '../shared/fonts'; 
@import '../shared/call-to-action'; 

:host {
    @include ui-view;
    font-family: $copy-font; 
    color: #616161;
    justify-content: space-between;

    .avatar{
        background: url('../../assets/avatar.png') no-repeat; 
        width: 162px;
        min-height: 162px; 
        margin: 0 auto; 
        border-radius: 50%;
        border: #effefb solid 4px;
        display: flex;
        box-shadow: 2px 3px 3px #3b3b3b;
        margin-bottom: 10px;
    }

    .avatar-caption{
        font-family: "Sansita One"; 
        color: #445544;
        text-shadow: 3px 3px 2px #dcdcdc;
        text-align: center; 
        font-size:1.25em;
        max-width: 270px; 
        margin: 0 auto; 
        margin-bottom: 20px;

        color: #fff;
        font-family: "Oswald";
        word-spacing: 2px;
        text-shadow: 2px 3px 3px #353535;
    }

    .container {
        display: flex;
    }
    .panel {
        display: inline-block; 
        margin: 0 auto; 
        padding: 50px 75px 80px;
        background-color: #effefb; 
        
        margin-bottom: 20px;

    }
    h1{
        font-family: $primary-font;
        color: #445544;
        text-shadow: 3px 3px 2px #dcdcdc;
        font-size:2.5em;
        
    }

    h3{
            font-family: 'Noto Sans'; 
            color:  #000;
            font-size: 28px;
            word-spacing: 2px;
            margin: 5px 0;
    }

    p, ul {
            line-height: 24px;
            max-width: 48em;
    }
    
}

