<h1 class="centre">Who is this Mike guy anyway?</h1>

<div class="section">
    <div class="avatar">
    </div>
    <h3 class="avatar-caption">Hi, I'm Mike. Programmer, Technological enthusiast, Big thinker... </h3>
</div>

<div class="section">
     <h4>About the guy in the circle above, looking at you...</h4>
    <p>
        Hi there, my name is Mike, and I’m a software developer (currently a Front-end Web Developer) based in North East England. 
    </p>
    <p>
        I’ve been writing applications, games and building websites since I was about 14 years old and I’m profoundly interested in 
        technology and what makes those apps and sites we all use every day ‘tick’; In my mind, programming software is what dreams are 
        made of, and I find building technical solutions to problems infinitely rewarding. 
    </p>
</div>

<div class="section">
    <h4>Summary of skills</h4>
    <p>
        I’ve been developing web applications collectively for over 3 years professionally (including industrial placements and permanent 
        positions), but have been developing as a hobby and academically for well over 10 years. 
    </p>    
    <p>
        In terms of programming languages I primarily work with JavaScript (and its derivatives, such as TypeScript), HTML, CSS (particularly SASS, because it’s awesome!), 
        but on a purely hobbyist level I can write C++ (this was my first language, and my go-to language for writing games, check out my <a href="https://github.com/programmerinprogress" target="_blank">GitHub</a> for some examples!), I have also had some professional and academic experience with MSSQL, I also wrote Java desktop and JavaME applications during university. 
    </p>
    <p>
        In terms of frameworks and libraries, I mostly work with AngularJS (1 and 2...why, this very site has been written in Angular 2 and Typescript!), but I have used JQuery quite extensively in the past both professionally and as a hobbyist. I’m always exploring new technologies in order to improve efficiency, workflow...and well, to learn and just do things in the best way I can! 
    </p>

    <h4>An honourable mention</h4>

    <p>
        I’ve used the SDL and SFML libraries for rendering 2D graphics in C++, I thought that deserved an honorable mention, as it’s close to my heart! 
    </p>

    <h4>More honourable mentions</h4>
    <ul>
        <li>ASP.NET MVC 3+ and Entity Framework (I’ve dabbled)</li>
        <li>C#/WinForms (About 8 months total professional experience, and lots and lots of hobbyist and academic usage)</li>
        <li>Git (who doesn’t use Git? People who lose all of their work, that’s who)</li>
        <li>NodeJS (I should mention that my skills are primarily front-end, but my back-end skills and API development are gradually improving)</li>
        <li>NoSQL databases (I’ve worked with CouchDB, and experimented with Mongo, this is an area that i’m interested to explore further)</li>
    </ul>

    <p>
        I hope I didn’t miss too much there, but I will happily answer any further questions if you send me a message via the form provided in the <a routerLink="/contact">Contact</a>  section. 
    </p>
</div>

<div class="section">
    <h4>When I’m not writing software I like to…</h4>
    <p>
        Travel! I’m an avid explorer, with a particular penchant for visiting places of architectural beauty, why only last summer I was sitting in a cafe in Barcelona, 
        admiring it’s unique architecture, soaking in the atmosphere of it’s laid back pace and of course, enjoying it’s clement weather. 
    </p>
     <p>
        I also enjoy a good book, and I’m gradually learning new languages (primarily Spanish, you get great service at bars and restaurants if you speak the lingo!). 
        I am a fan of the finer things in life and feel blessed that my hobby and career allows me to attain them from time to time. 
    </p>
</div>

<div class="section">
     <h4>Want to find out more?</h4>
     <p>
            I invite you to check out my <a routerLink="/projects">Projects</a> section, there you will find a comprehensive set of examples of my work, past and present, and if you want to scrutinise 
            my code quality, I direct you now to my <a href="https://github.com/programmerinprogress" target="_blank">GitHub</a> (code quality may vary, some of the code is very old, particularly the C++ stuff, but go knock yourself out!)
     </p>
     <p>
         If there are any remaining unanswered questions you have, feel free to drop me a message via the provided <a routerLink="/contact">Contact</a> form, I’m always happy to hear out good ideas, feedback 
         and any omissions that people should be present on the site! 
     </p>
</div>


<div class="cta-box">
    <span>What have I been working on?</span>
    <a draggable="false" routerLink="/projects" class="mds-fab"><i class="fa fa-chevron-down"></i></a>
</div>