<h1>Project List</h1>

<div class="projects-grid">
    <div class="projects-grid-item">
        <div>Project A</div>
    </div>
    <div class="projects-grid-item">
           <div>Project B</div>
    </div>   
    <div class="projects-grid-item">
           <div>Project C</div>
    </div>
    <div class="projects-grid-item">
           <div>Project D</div>
    </div>
    
</div>


<div class="cta-box">
    <span>Want to find out more? Drop me a message!</span>
    <a draggable="false" routerLink="/contact" class="mds-fab"><i class="fa fa-chevron-down"></i></a>
</div>