<h1>Projects</h1>

<div class="projects-grid">
    <div class="projects-grid-item">
           <div><span>Project A</span></div>
    </div>
    <div class="projects-grid-item">
              <div><span>Project B</span></div>
    </div>   
    <div class="projects-grid-item">
           <div><span>Project C</span></div>
    </div>
    <div class="projects-grid-item">
           <div><span>Project D</span></div>
    </div>
    
</div>


<div class="cta-box">
    <span>Want to find out more? Drop me a message!</span>
    <a draggable="false" routerLink="/contact" class="mds-fab"><i class="fa fa-chevron-down"></i></a>
</div>