@import '../shared/variables'; 
@import '../shared/call-to-action'; 

$tagline-primary-heading-size: 60px; 
$tagline-secondary-heading-size: 24px; 

:host {
    padding: 10px;
    .contactForm{

        padding: 5px;
        max-width: 400px;
        min-width: 100px;
        margin: 0 auto;

        ::-webkit-input-placeholder{
            font-family: Oswald;
            font-size: 18px;
        }

        padding: 5px; 

        textarea{
            resize: none;
            height: 150px;
        }


        input, textarea{
            padding: 10px;
            font-family: Oswald;
            font-size: 18px;
            width:100%;
            max-width: 400px;
            margin: 5px auto;
            border: 2px solid transparent;
            display: flex;
            border-radius: 2px;
            padding-left: 10px;
            padding-top: 5px;   

            &.ng-touched {
                &.ng-invalid {
                    &.ng-dirty{
                        border: 2px solid red;
                    }
                }
            }       
        }

        button {
            max-width: 400px;
            min-width: 100px;
            font-family: Oswald;
            font-size: 18px;
            display: block;
            margin: 10px auto; 
        }
    }

    h2 {
            font-family: $secondary-font; 
            font-size: $tagline-secondary-heading-size;
            color:  #fff;
            word-spacing: 2px;
            text-shadow: 2px 3px 3px #353535;
            animation: fadein 1.5s;
            text-align: center;
            margin: 0 auto;
            padding:10px; 
            max-width: 400px;
    }
    
     @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    } 

}