<h1>Contact</h1>
<contact-form></contact-form>
<div class="tagline">
    <h2 class="centre" *ngIf="feedbackResponse != null" >Thank you for your feedback</h2>
</div>
<div class="cta-box" *ngIf="feedbackResponse == null">
    <span>One last thing, how did I do? (honest feedback gets you everywhere!)</span>
    <div class="button-pair">
          <a (click)="registerFeedback('like')" draggable="false"  class="mds-fab"><i class="fa fa-thumbs-up"></i></a>
          <a (click)="registerFeedback('dislike')" draggable="false" class="mds-fab"><i class="fa fa-thumbs-down"></i></a>
    </div>
</div>
<div class="cta-box" *ngIf="feedbackResponse != null">
    <span>Time for one more spin?</span>
    <a draggable="false" routerLink="/home" class="mds-fab"><i class="fa fa-home"></i></a> 
</div>