:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .content {
        display: flex;
        flex-direction: row;
    }

    header {
        height:48px;
        width:100%;
        display: flex;
        background-color: black;
       
        a{
            align-self: center; 
        }

        .home-icon{
            margin: 0 auto;
        }

        .hamburger-button {
            color:white; 
            margin: 0px 20px;
            font-size: 20px;
            margin-bottom: 5px;
            cursor:pointer;
            display: flex;

            &:hover{
                color:#dcdcdc;
            }
            transition: color 0.25s ease; 

            @media only screen and (min-width:680px){
                display: none;
            }
        }
    }
}

