<ul>
    <li (click)="onRouteSelection()" routerLink="/home" routerLinkActive="active"> <a  ><span class="fa fa-home"></span><span class="hamburger-item-text">Home</span></a></li>
    <li (click)="onRouteSelection()" routerLink="/about"routerLinkActive="active"> <a><span class="fa fa-black-tie"></span><span class="hamburger-item-text"> About</span></a></li>
    <li (click)="onRouteSelection()" routerLink="/projects" routerLinkActive="active"> <a><span class="fa fa-wrench"></span><span class="hamburger-item-text">Projects</span></a></li>
    <li (click)="onRouteSelection()" routerLink="/contact" routerLinkActive="active"> <a><span class="fa fa-vcard"></span><span class="hamburger-item-text">Contact</span></a> </li>
    <li (click)="onRouteSelection()" class="close-menu"> <a><span class="fa fa-angle-double-up"></span><span class="hamburger-item-text">Back</span></a></li>
</ul>