<ul>
    <li> <a routerLink="/home" routerLinkActive="active"><span class="fa fa-home"></span><span class="hamburger-item-text">Home</span></a></li>
    <li> <a routerLink="/about"routerLinkActive="active"><span class="fa fa-black-tie"></span><span class="hamburger-item-text"> About</span></a></li>
    <li> <a routerLink="/projects" routerLinkActive="active"><span class="fa fa-wrench"></span><span class="hamburger-item-text">Projects</span></a></li>
    <li> <a routerLink="/contact" routerLinkActive="active"><span class="fa fa-vcard"></span><span class="hamburger-item-text">Contact</span></a> </li>
</ul>