@import '../variables'; 

$nav-bar-bg-colour: $secondary-background-colour; 
$nav-width: 160px; 

:host {
    display: none;
    background-color: $nav-bar-bg-colour;
    height: 100vh;
    flex-direction: column;

    @media only screen and (min-width:480px){
         display: flex;
    }

    ul{
        width: $nav-width;
        padding: 0;
        list-style-type: none;
        align-self: center;
        li{
            margin: 15px auto;
            padding-left: 20px;
            text-align: right;
            display: flex;
            align-items: center;

            a{
                order: 1;
                text-align: right;
                margin-left: 10px;
            }
            .fa{
                order: 0;
                width: 25px;

            }

            a,.fa{
                text-decoration: none;
                font-size: 20px;
                transition: color 0.5s ease;
                &:link{
                    color:$primary-text-colour;
                }
               
                &:visited{
                    color:$primary-text-colour;
                }
            }
            
             &:hover{
                    
                    color:$primary-text-colour-hover;
                       a,.fa {
                        transition: color 0.5s ease;
                        color:$primary-text-colour-hover;
                    }
             }

             &:active{
                    color:$primary-text-colour-active;

                    a,.fa {
                        color:$primary-text-colour-active;
                    }
             }

             .fa{
                 color:$primary-text-colour;
             }
        }
    }
}