@import '../variables'; 

$nav-bar-bg-colour: $secondary-background-colour; 
$nav-width: 180px; 

:host {
    display: flex;
    background-color: $nav-bar-bg-colour;
    height: 100vh;
    width: $nav-width;
    flex-direction: column;

    .logo-box {
        background-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=180%C3%97180&w=180&h=180'); 
        width: $nav-width; 
        height: 180px;
    }

    ul{
        list-style-type: none;
        li{
            margin: 15px auto;

            a{
                text-decoration: none;
                text-align: center;
                font-size: 20px;

                &:link{
                    color:$primary-text-colour;
                }
               
                &:visited{
                    color:$primary-text-colour;
                }
                &:hover{
                    color:$primary-text-colour-hover;
                    border-bottom:  3px solid $primary-text-colour-hover;
                }
                &:active{
                    color:$primary-text-colour-active;
                    border-bottom:  3px solid $primary-text-colour-active;
                }
            }

        }
    }
}