@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans'; 
}

h1,h2,h3,h4 {
 font-family: 'Lato'; 
}

body{
    width: 100%;
}

*{
    box-sizing: border-box;
}