@import '../shared/variables'; 

:host {
    background-color: $primary-background-colour;
    display: flex; 
    flex-grow: 1;
    overflow: auto;
    flex-direction: column;
    height: calc(100vh - #{$header-bar-height}); 
}