@import '../shared/variables'; 

:host {
    background-color: $primary-background-colour;
    display: flex; 
    flex-grow: 1;
    overflow: auto;
    flex-direction: column;
    height: calc(100vh - #{$header-bar-height}); 
    padding: 10px;
    background-image: url('../../assets/macbook-splash.png');
    background-size: cover;
    justify-content: space-between;

    .tagline{
        margin-top: 15%;
        display: flex; 
        font-family: 'Sansita One'; 
        flex-direction: column;
        width: 480px;
        align-self: center;

        h1 {
            margin: 10px 0;
            font-size: 60px; 
            font-family: 'Sansita One'; 
            color:  #445544;
            text-shadow: 3px 3px 2px #dcdcdc;
        }

        h2 {
            margin: 10px 0;
            font-family: 'Oswald'; 
            font-size: 32px;
            color:  #fff;
            word-spacing: 2px;
            text-shadow: 2px 3px 3px #353535;
        }
        
    }

     .cta-box{
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;

        span {
            color:  #fff;
            font-family: 'Oswald';
            font-size: 18px; 
            word-spacing: 2px;
            text-shadow: 2px 3px 3px #353535;
            margin-bottom: 8px;
        }

        margin-bottom: 10px;

     .button-more{
        background-color: #445544;
        height: 56px; 
        width: 56px; 
        border-radius: 50%; 
        display: flex;
        text-decoration: none; 
        text-shadow: 2px 1px 3px #353535;

        transition: background-color 0.25s ease-in;
        box-shadow: 2px 3px 3px #353535;
        
        .fa{
                transition: text-shadow 0.5s ease;
                text-shadow: 4px 3px 4px #353535;
                
                display: flex; 
                align-self: center;
                line-height: 56px;
                color: #C0DBC7;
                margin:0 auto;
        }

        &:hover{
             background-color: #556655;
             .fa{
                 text-shadow: 4px 3px 4px #353535;
             }
        }
        &:active{
             background-color: #778877;
             .fa{
                color: #A9CAB6;
                 text-shadow: 2px 1px 3px #353535;
             }
        }

    }

    }

}

